div.nav-top {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 50px;

    background-color: black;
}
div.nav-top > div.title {
    color: white;
    justify-content: center;
}